<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}">

<main layout:fragment="content">


<!-- Team Start -->
<div class="container-fluid team pb-5">
  <div class="container pb-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên ngành</th>
        <th scope="col">Mã ngành</th>
        <th scope="col">Khối xét tuyển</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-active">
        <th scope="row">1</th>
        <td>Khoa học máy tính</td>
        <td>7480101</td>
        <td>A00,A01</td>
      </tr>

      </tbody>
    </table>

  </div>

</div>
<!-- Team End -->




</main>
</body>
</html>